:root {
    --red-1: #FB6E64;
    --red-2: #FA2818;
    --red-3: #C72014;
    --red-4: #7A3631;

    --orange-1: #FBAA53;
    --orange-2: #FA8507;
    --orange-3: #C76805;
    --orange-4: #7A5328;

    --yellow-1: #FFED63;
    --yellow-2: #FFE518;
    --yellow-3: #CCB612;
    --yellow-4: #807632;

    --blue-1: #6BD5FF;
    --blue-2: #1FBFFF;
    --blue-3: #1999CC;
    --blue-4: #366B80;

    --green-1: #73FF73;
    --green-2: #26FF26;
    --green-3: #1ECC1E;
    --green-4: #398039;

    --indigo-1: #6376FF;
    --indigo-2: #1732FF;
    --indigo-3: #132ACC;
    --indigo-4: #323B80;

    --violet-1: #D780FF;
    --violet-2: #BE33FF;
    --violet-3: #9929CC;
    --violet-4: #6B4080;
}



.title {
    font-size: 64;
    white-space: nowrap;
}

button {
    max-width: max-content;
    padding: 16px;
    background-color: var(--violet-2);
    color: white;
    font-size: 24;
    white-space: nowrap;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 2px var(--violet-1);
}

button.accent {
    background-color: var(--indigo-2);
    box-shadow: 0px 2px 4px 2px var(--indigo-1);
}

button:hover {
    background-color: var(--violet-1);
    cursor: pointer;
    box-shadow: 0px 2px 4px 3px white;
}

button.accent:hover {
    background-color: var(--indigo-1);
}

body {
    width: 100%;
    color: white;
    font-family: Helvetica, sans-serif;
    cursor: default;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

#wedgeContainer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.wedge {
    position: absolute;
    height: 200px;
    left: -100px;
    right: -100px;
    transform: rotate(-13deg);
    --transition-time: 5s
}

.wedge:nth-child(1) {
    z-index: -1;
    top: -500px;
    height: 400px;
    background: linear-gradient(160deg, var(--red-3) 0%, var(--red-2) 25%, var(--red-1) 75%, rgba(250, 250, 250, 1) 100%);
    animation: RollingBackground var(--transition-time) ease infinite;
    background-size: 400% 400%;
}

.wedge:nth-child(2) {
    z-index: -2;
    top: -100px;
    background: linear-gradient(160deg, var(--orange-2) 0%, var(--orange-1) 50%, rgba(250, 250, 250, 1) 100%);
    animation: ReverseRollingBackground var(--transition-time) ease infinite;
    background-size: 400% 400%;
}

.wedge:nth-child(3) {
    z-index: -3;
    top: 100px;
    background: linear-gradient(160deg, var(--yellow-2) 0%, var(--yellow-1) 50%, rgba(250, 250, 250, 1) 100%);
    animation: RollingBackground var(--transition-time) ease infinite;
    background-size: 400% 400%;
}

.wedge:nth-child(4) {
    z-index: -4;
    top: 300px;
    background: linear-gradient(160deg, var(--green-3) 0%, var(--green-2) 40%, var(--green-1) 60%, rgba(250, 250, 250, 1) 100%);
    animation: ReverseRollingBackground var(--transition-time) ease infinite;
    background-size: 400% 400%;
}

.wedge:nth-child(5) {
    z-index: -5;
    top: 500px;
    background: linear-gradient(160deg, var(--blue-3) 0%, var(--blue-2) 40%, var(--blue-1) 60%, rgba(250, 250, 250, 1) 100%);
    animation: RollingBackground var(--transition-time) ease infinite;
    background-size: 400% 400%;
}

.wedge:nth-child(6) {
    z-index: -5;
    top: 700px;
    background: linear-gradient(160deg, var(--violet-3) 0%, var(--violet-2) 40%, var(--violet-1) 60%, rgba(250, 250, 250, 1) 100%);
    animation: ReverseRollingBackground var(--transition-time) ease infinite;
    background-size: 400% 400%;
    height: 400px;
}

@keyframes RollingBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes ReverseRollingBackground {
    0% {
        background-position: 100% 50%
    }

    50% {
        background-position: 0% 50%
    }

    100% {
        background-position: 100% 50%
    }
}

#logo {
    font-size: 32;
    position: absolute;
    right: 25px;
    top: 15px;
    color: var(--violet-1)
}

#footer {
    z-index: -1;
    text-align: center;
    bottom: 0px;
    color: var(--indigo-2);
    margin-bottom: 30px;
}


#hero {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 0 auto;
    grid-row-gap: 16px;
    color: var(--violet-2);
    text-shadow: -2px 2px 8px var(--violet-1);
}


#hero .title {
    justify-self: center;
    text-align: center;
    margin-top: 25px;
}

#hero .title:nth-of-type(1) {
    grid-area: 1 / 2 / 1 / 2;
}

#hero .title:nth-of-type(2) {
    grid-area: 2 / 2 / 2 /2;
}

#hero #buttons {
    grid-area: 3 / 2 / 3 / 2;
    justify-self: center;
}

#hero #buttons button {
    margin-left: 16px;
    margin-right: 16px;
}

#bio {
    font-size: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding: 32px;
    background-color: var(--violet-2);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto;
    grid-column-gap: 32px;
    box-shadow:
        8px 8px var(--violet-1),
        -8px 8px var(--violet-1),
        8px -8px var(--violet-1),
        -8px -8px var(--violet-1);
}

#bio p {
    text-align: justify;
    text-indent: 16px;
}

#bio a {
    color: var(--yellow-1);
}

#bio p:nth-of-type(1) {
    grid-area: 1 / 2 / 1 / 2;
}

#bio p:nth-of-type(2) {
    grid-area: 2 / 2 / 2 / 2;
}

#headshot {
    grid-area: 1 / 1 / span 2 / 1;
    margin: 16px;
    margin-top: -32px;
    background-color: var(--orange-1);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    justify-self: center;
    align-self: center;
    position: relative;
}

#headshot img {
    border-radius: 50%;
    width: 150x;
    height: 150px;
    top: -15px;
    left: 0;
    position: absolute;
    z-index: 15;
}

.service {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800;
    padding: 32px;
    display: grid;
    grid-template-columns: 325px auto;
    grid-template-rows: auto;
}

.service:nth-child(1) {
    background-color: var(--red-2);
    box-shadow:
        8px 8px var(--red-1),
        -8px 8px var(--red-1),
        8px -8px var(--red-1),
        -8px -8px var(--red-1);
}

.service:nth-child(2) {
    background-color: var(--orange-2);
    box-shadow:
        8px 8px var(--orange-1),
        -8px 8px var(--orange-1),
        8px -8px var(--orange-1),
        -8px -8px var(--orange-1);
}

.service:nth-child(3) {
    background-color: var(--indigo-2);
    box-shadow:
        8px 8px var(--indigo-1),
        -8px 8px var(--indigo-1),
        8px -8px var(--indigo-1),
        -8px -8px var(--indigo-1);
}

.service:nth-child(4) {
    background-color: var(--violet-2);
    box-shadow:
        8px 8px var(--violet-1),
        -8px 8px var(--violet-1),
        8px -8px var(--violet-1),
        -8px -8px var(--violet-1);
}

.service .title {
    grid-area: 1 / 1 / 1 / 1;
    white-space: normal;
    align-self: center;
    padding-right: 25px;
    font-size: 48;
    overflow-wrap: break-word;
    hyphens: auto;
}

.service p {
    grid-area: 1 / 2 / 1 / 2;
    font-size: 24;
    text-align: justify;
    text-indent: 16px;
}

#services>.title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48;
    color: var(--violet-2);
}

#services {
    padding-bottom: 50px;
}

#services .buttons {
    text-align: center;
    padding-top: 25px;
}

#services .buttons button {
    margin-left: 16px;
    margin-right: 16px;
}